/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2020, 22:01:41
    Author     : iTuhh Z
*/

.root {
    -fx-background-color:  #4682b4;
}

#btContinuar{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-border-width: 8px;
    -fx-border-color: #000000;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;


}

#btContinuar:hover{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-border-width: 8px;
    -fx-border-color: #000000;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}

#btJogada {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ffe400, #ff9f09);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 3.1em;
}
#btJogada:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
#btJogada:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#btJogada Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#playerOne {
    -fx-text-fill: #ffd65b;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#playerTwo {
    -fx-text-fill: #ea7f4b;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#vez {
    -fx-text-fill: #ff0048;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#barraMenu {
    -fx-background-color: #58a3e2;
}

#menu {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#itemMenu {
    -fx-background-color: #f2ba44;
}